
/*Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Common CSS*/

.full {
	width: 100%;
    font-family: sans-serif;
}

.fix {overflow: hidden;}

.floatleft {float: left;}

.floatright {float: right;}

.social-icon {
	margin-top: 15px;
    margin-bottom: 5px;
}
.icon {
	padding: 15px 15px 5px;
}

.log-reg li:nth-child(2) a {
    padding-left: 0px;
    padding-right: 0px;
}

.appname .h1 {
    margin-top: 10px;
    color: #3ba3f3;
}

.app-type {
    margin-top: 8px;
}

.app-type {
    list-style: none;
}

.app-type li {
    float: left;    
    color: #3ca4f4;
    border-right: 2px solid #999999;
}

.app-type li:last-child {
    border-right: none;
}


.app-type li a {
    text-decoration: none;
    font-size: 18px;
    color: #3ca4f4;
    padding: 5px; 
}

.app-type li a:hover {
    color: #333333;
}

.appname-slider {    
    margin-top: 30px;
}

.app-details {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}

.publisher, .developer, .idea-by, .release-date {
    margin-bottom: 10px;
}

.name, .date {
    width: 50px;
    height: 15px;    
    line-height: 0px;
    font-weight: normal;
}

.arrows-btn {
    width: 30px;
    height: 15px;
    padding: 0px;
    line-height: 0px;
}

.arrows {
    width: 22px;
    height: 15px;
    line-height: 0px;
    padding: 0px 3px;
}

.g-play-btn, .g-play-btn i {
    border-radius: 0px;
    background-color: #21c10c;
    color: #000000;
}


.site-btn {
    background-color: #428bca;
    color: #000000;
    border-radius: 0px;
}

.f-apps {
    font-size: 24px;
    padding-top: 5px;
}

.app-preview {
    height: 152px;
    border-bottom: 3px solid #ff0000;
    background-color: #aaa;
    margin-top: 10px;
}

.star {
    color: #ece71b;
}

.android {
    color: #19853a;
}

.windows {
    color: #32b8de;
}

.apple {
    color: #000000;
}

.s-apps {
    font-size: 24px;
    padding-top: 10px;
}

.load-more {
    margin-top: 15px;
}

.load {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #999999;
    cursor: pointer;
    font-weight: bold;
}

.pro-pre {
    margin-top: 15px;
    font-weight: bold;
}

.promo {
    padding: 0px 10px;
    border-bottom: 3px solid #ff0000;
}

.preview {
    padding: 0px 10px;
    border-bottom: 3px solid #f1caca;
    color: #7a7777;
}

.slider {
    height: 430px;
    background-color: #636363;
    border-bottom: 3px solid #ff0000;
}

.slider h1 {
    font-size: 40px;
    font-family: arial;
    text-align: center;
    padding: 190px 0;
}

.content {
    margin-top: 10px;
}

.rating-point {
    width: 75px;
    height: 75px;
    font-weight: bold;
    font-size: 24px;
    background-image: url('images/rating-star.png');
    background-repeat: no-repeat;
}

.point {
    line-height: 75px;
    margin: 22px;
}

.your-rating {
    height: 75px;
    color: #646161;
}

.all-starts span {
    padding: 1px 0px;
    
}

.rat {
    font-weight: bold;
}

.users {
    color: #1d7ec9;
}

.total-views {
    font-size: 28px;
    line-height: 75px;
}

.share-write {
    margin-bottom: 20px;
}

.share-review {
    width: 100%;
    margin: 10px 0px;
}

.share a {
    text-decoration: none;
    color: #000000;
}

.write-review {
    border-bottom: 2px solid #ff0000;
}

.app-desc {
    width: 100%;
    font-size: 17px;
}

.all-reviews {
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
}

.review {
    width: 868px;
    height: 145px;
    border: 1px solid #dedede;
    margin: 20px 0px 10px;
}

.title-content {
    width: 768px;
    height: 145px;
}

.title-content h2 {
    font-size: 24px;
    padding: 5px 0;
    font-weight: bold;
    font-family: arial;
}

.review-content {
    margin-top: 5px;
}

.review-rating-like {
    
}

.review-rating {
    font-weight: bold;
    font-size: 24px;
    background-image: url('images/rating-star.png');
    background-repeat: no-repeat;
}

.point1 {
}

.like-btn, .unlike-btn {
    
}

.load-more2 {
    width: 170px;
    height: 40px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: pointer;
    font-weight: bold;
}

